.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 77px;
  position: fixed;
  width: 100%;
  z-index: 50;
  &__brand {
    height: 35px;
    width: 176px;
    background-size: 114px;
  }
  &__mainLogo {
    background-repeat: no-repeat;
    background-image: image-url("logo.png");
  }
  &-nav {
    & > li {
      margin-left: 20px;
      .fa-user {
        font-size: 1.8rem;
      }
    }
  }
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.logo:hover {
  color: black;
  text-decoration: none;
}
