<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to "Yastagram", root_path, class: "logo" %>
    <% if current_user %>
      <ul class="navbar-nav ml-md-auto align-items-center">
        <li>
          <%= link_to "投稿", new_post_path, class: "btn btn-primary" %>
        </li>
        <li>
          <%= link_to "", user_path(current_user), class: "nav-link commonNavIcon far fa-user" %>
        </li>
      </ul>
      <% end %>
  </div>
</nav>